// ------------------------------------------------
//    ファイル名：_variables.scss
//    機能：変数を記述する
// --------------------------------------------------
// 青（文字色もこの色）
$color-blue: #1b224c;

// 白
$color-white: #fff;

// オフホワイト
$color-offwhite: #f8f8f8;

// グレー
$color-gray: #d5d5d5;

// オレンジ
$color-orange: #f5a623;

// 最大幅（左右にパディング15pxずつ）
$max-width: 930px;

// ブレークポイント（PC基準）
// スマホ幅：～768px
// タブレット幅：769px～1024px
// PC幅：1025px～
$breakpoints: (
  sm: 768px,
  md: 1024px,
) !default;
